.backButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: black;
    color: white;
    padding: 12px 16px;
    border-radius: 0px;
    font-size: 0.95rem;
    text-decoration: none;
    z-index: 999;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #333;
    cursor: pointer;
  }

  /* ===== Estilo MOBILE ===== */
@media (max-width: 768px) {
  .backButton {
    bottom: 20px;
    right: 20px;
    padding: 8px 10px;
    font-size: 1.2rem;
    border-radius: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .backButton {
    bottom: 22px;
    right: 22px;
    padding: 10px 14px;
    font-size: 1.1rem;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 0px;
  }
}
