.footerHome {
  width: 100%;
  padding: 16px 0;
  background-color: var(--background);
  color: var(--foreground);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footerPage {
  width: 100%;
  padding: 16px 0;
  background-color: var(--background);
  color: var(--foreground);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
  bottom: auto;
  left: auto;
  z-index: 10;
}

.break {
  display: inline;
}

.footerText {
  line-height: 1.4;
  margin: 0;
}

.separator {
  display: inline;
}

.footerLink {
  text-decoration: none;
  color: inherit; /* herda a cor do texto */
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #555; /* ou outra variação suave da cor principal */
  text-decoration: underline; /* ou apenas sublinhado se quiser um destaque mais visível */
}

@media (max-width: 768px) {
  .footerHome {
    position: relative;
    padding: 12px;
    font-size: 0.6rem;
  }

  .footerPage {
    font-size: 0.6rem;
    padding: 12px;
  }

  .break {
    display: block;
  }

  .separator {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footerHome {
    position: relative;
    font-size: 0.75rem;
    padding: 16px 0;
    text-align: center;
  }

  .footerPage {
    font-size: 0.75rem;
    padding: 16px 0;
    text-align: center;
  }

  .break {
    display: inline;
  }

  .separator {
    display: inline;
  }
}

