.menuContainer {
  position: fixed;
  top: 16px;     /* igual ao MobileMenu */
  right: 16px;
  z-index: 30;
}

.burger {
  position: absolute;
  top: 25px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  z-index: 21;
}

.line {
  width: 22px;
  height: 2px;
  background-color: black;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 7px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  padding: 10px 14px;
  z-index: 30;
}

.menuItem {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 16px;
}

@media (min-width: 769px) {
  .menuContainer {
    top: 1px;    /* exemplo: pode ajustar livremente no desktop */
    right: 32px;
  }
}
