.navbar {
  width: 100%;
  height: auto; /* Altura flexível para o texto quebrado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 16px 8px;
}

.navbarTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--foreground);
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

.break {
  display: inline;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    align-items: flex-start;
    padding: 50px 12px;
  }

  .navbarTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centraliza perfeitamente */
    font-size: 1.2rem;
    white-space: normal;
    line-height: 1.4;
    text-align: center;
    width: max-content;
    margin: 0 auto;
  }

  .break {
    display: block;
  }
}
