.navbar {
  width: 100%;
  height: auto; /* Altura flexível para o texto quebrado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 16px 8px;
}

.navbarTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--foreground);
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

.break {
  display: inline;
}

@media (max-width: 768px) {
  .navbar {
    align-items: flex-start;
    padding: 16px 12px;
  }

  .navbarTitle {
    font-size: 1.2rem;
    white-space: normal;
    line-height: 1.4;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .break {
    display: block;
  }
}
